body {
  background-color:lemonchiffon;
}
br {
  border-color: blue
}
h3 {
  font-size: 20%;
  padding-top: 2em;
}
 h3:hover {
  color:blueviolet;
  font-size: 100%;
}
img {
  display: block;
  margin: auto;
}
header {
  justify-content: center;
  margin: auto;
  width: 50%;  
}
article {
  border: 2px solid black;
  border-radius: 1em;
  background-color: white;
  padding: 1em;
}
ol:hover {
  background-color: aquamarine;
}
a:visited {
  font-style: italic;
}
a {
   color: black;
}
h1 {
  font-size: 1.5em;
  font-style: italic;
}
article img {
  width: 20%;
  height: auto;
}
header a::before {
  content: "-->";
  }
header a::selection{
  color:chocolate
  }
/* Why doesn't this work?
ol a:visited {
  font-size: 50%;
} */
